[submodule "ecommerce_shared_db"]
	path = ecommerce_shared_db
	url = git@github.com:muratcezan/ecommerce_shared_db.git
[submodule "ecommerce_admin_user"]
	path = ecommerce_admin_user
	url = git@github.com:muratcezan/ecommerce_admin_user.git
[submodule "ecommerce_email"]
	path = ecommerce_email
	url = git@github.com:muratcezan/ecommerce_email.git
[submodule "ecommerce_image_upload_service"]
	path = ecommerce_image_upload_service
	url = git@github.com:muratcezan/ecommerce_image_upload_service.git
